[submodule "Aegis_FE"]
	path = Aegis_FE
	url = https://github.com/Hankaji/GDGDoc-Aegis-Frontend.git
[submodule "Aegis_BE"]
	path = Aegis_BE
	url = https://github.com/DankoFox/aegis-backend.git
[submodule "Aegis_AI"]
	path = Aegis_AI
	url = https://github.com/nmquan1/aegis-pipeline.git
